.App {
  position: absolute;
  inset: 10%;
  display: flex;
  align-items: end;
}

.Dialog {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 400px;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  border-radius: 1em;
  border: none;
  box-shadow: 0 1em 1em 1em #0004;
}

.Dialog::backdrop {
  background: #0004;
}

.Dialog button {
  font-size: 0.8em;
  padding: 0.3em 0.8em;
  margin-top: 0.75em;
  border-radius: 0.6em;
  border: 1px solid #0004;
  box-shadow: inset 0 -0.1em 0.3em 0 #0002;
  background: #b5a0cd;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  cursor: pointer;
}

.Dialog button:hover {
    box-shadow: inset 0 0.1em 0.3em 0 #0002;
}
